/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);


* {
    box-sizing: border-box;
}

main {
    font-family: 'Open Sans', sans-serif;
    width: 76%;
    margin: 0 auto;
}



/* Header */

header {
	border-bottom: 1px solid #ddd;
  padding-top: 20px;
}

.logo {
    float: left;
}

/* Navigation Bar */

nav {
    text-align: right;
}

ul {
    float: right;
    margin-top: 1.25em;
    width: 68%;
}

nav li {
    display: inline-block; 
    font-size: 80%;
    padding: 0 0 0 15px;
    text-transform: uppercase;
}

nav a:hover {
    color: #F23792;
}

ul li a {
		color: #333;
    text-decoration: none;
}

.active {
    color: #F23792;
    font-family: sans-serif;
    font-weight: bold;
}

/* Main Content */

.slideshow, 
img {
    margin: 10px 0;
    max-width: 100%;
}

.col-1-2 {
    width: 48.5%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.border {
    border: 1px solid #ddd;
}


/* Footer */

footer {
    border-top: 1px solid #eee;
}

.footer-container {
    height: 2em;
    margin: 1.75em auto;
    width: 76%;
}

.copyright {
    color: #777;
    float: left;
    font-size: .8em;
    margin-top: -10px;
    text-transform: uppercase;
    width: 40%;
}

form {
    float: right;
    position: relative;
    width: 60%;
}

input, 
.button {
    display: inline-block;
}

input {
	float: right;
	margin-right: 95px;
}

button {
    background-color: #ff1493;
    border-color: #ff1493;
    color: white;
    font-size: .75em;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 15px 9px;
    position: absolute; /* to align with right margin */
    right: 0; /* to align with right margin */
    top: -4px;
    text-transform: uppercase;
}

input {
    height: 30px;
    width: 220px;
}

input[placeholder] {
    font-size: .75em;
}


.designer {
    color: #ff1493;
}

/* DRY Classes */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



