/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

* {
    box-sizing: border-box;
}

main {
    width: 76%;
    margin: 0 auto;
}



/* Header */

header {
    padding-top: 20px;
}

header img {
    border-radius: 3px;
    float: right;
    height: 30px;
    margin-left: 4px;
    width: 30px;
}

/* Navigation Bar */

nav {
    border-bottom: 1px solid #ddd;
}

ul {
    float: right;
    margin-top: 1.25em;
    width: 51.5%;
}

nav li {
    display: inline-block;
    font-size: 80%;
    padding: 0 0 0 15px;
    text-transform: uppercase;
}

ul a {
    text-decoration: none;
}

.active {
    color: #F23792;
    font-weight: bold;
}

/* Main Content */





/* DRY Classes */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

